---
layout: default
---
<div id="index" class="row">
  <div class="col-sm-9">
    <div class="post-area">
      <a href="http://blog.kymjs.com/tweet/" title="留言板">
        <div class="post-list-header">
          <font color="#EE0000">置顶</font>:
          <font color="#333333">留言板</font>
        </div>
      </a>
      <div class="post-list-body">
        
        <div class="all-posts" post-cate="All">
        {% for post in paginator.posts %}
          <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
            <div class="post-list-item">
              <span class="entry-date date published">
              <time datetime="{{ post.date | date_to_xmlschema }}">
                <font color="#aaaaaa">    {{ post.date | date: "%Y-%m-%d" }} By 张涛</font>
              </time>
              </span>

              <h2>
                {% if post.code %}
                  <font color="#AE57A4">技术</font>:
                  <font color="#333333">{{ post.title }}</font>
                {% endif %}
                {% if post.stickies %}
                  <font color="#FF8000">思考</font>:
                  <font color="#333333">{{ post.title }}</font>
                {% endif %}
                {% if post.manager %}
                  <font color="#0066CC">管理</font>:
                  <font color="#333333">{{ post.title }}</font>
                {% endif %}
                {% if post.english %}
                  <font color="#BB3D00">英语</font>:
                  <font color="#333333">{{ post.title }}</font>
                {% endif %}
              </h2>

              {% if post.description %}
                <p><font color="#666666"> {{ post.description }} </font></p>
              {% endif %}
            </div>
          </a>
        {% endfor %}
          
          <!-- 分页 -->
      <div class="paginator">
              {% if paginator.total_pages > 1 %}
              <!-- 分页代码 -->
              {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <span class="active">{{ page }}</span>
            {% elsif page == 1 %}
              <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            {% else %}
              <a href="/{{ site.paginate_path | prepend: site.url | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a>
        {% endif %}
              {% endif %}
      </div>
      

        </div>
        {% for category in site.tags %}
          <div post-cate="{{category | first}}">
            {% for posts in category  %}
              {% for post in posts %}
                {% if post.url %}
                  <a href="{{ post.url | prepend: site.baseurl }}" class="post-list-item">
                    <span class="entry-date date published">
                    <time datetime="{{ post.date | date_to_xmlschema }}">
                    <font color="#aaaaaa">{{ post.date | date: "%Y-%m-%d" }} By 张涛</font>
                    </time>
                    </span>

                    <h2>
                    <font color="#333333">{{ post.title }}</font>
                    </h2>
                  

                    {% if posts.size < 6 %}
                      {% if post.description %}
                        <p><font color="#666666"> {{ post.description }} </font></p>
                      {% endif %}
                    {% endif %}
                  </a>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      

     
    </div>
  </div>
  <div class="col-sm-3">
    <div class="shadow-corner-curl hidden-xs">
      <div class="categories-list-header">
        分类
      </div>
      
      <a href="{{'/index.html' | prepend: site.baseurl}}" class="categories-list-item" cate="All">
        全部<span class="my-badge"> {{site.posts | size}}</span>
      </a>

{% assign tags_list = site.tags %}  
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} 
      <a href="javascript:;" class="categories-list-item" cate="{{ tag }}">
        {{ tag }} <span class="my-badge">{{ site.tags[tag].size }}</span>
      </a>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
    <a href="javascript:;" class="categories-list-item" cate="{{ tag[0] }}">
      {{ tag[0] }} <span class="my-badge">{{ tag[1].size }}</span>
    </a>
    {% endfor %}
  {% endif %}
{% assign tags_list = nil %}
    </div>
  </div>
</div>

